.contest__caption {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: @white;
  padding: 90px 46px 45px;
  margin: 0;
  background-image: url("../../img/background_city.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.contest__conditions {
  line-height: 30px;
  padding: 55px 20px 5px;
  margin: 0;
}
