.download-app {
  background-color: @dark_blue;

  @media (min-width: @tablet-width) {
    background-image: url("../../img/background_phone.png"), url("../../img/background_city.jpg");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: auto, cover;
  }
}

.download-app__cover {
  @media (min-width: @tablet-width) {
    width: 51%;
  }

  @media (min-width: @desktop-width) {
    width: 40%;
  }
}

.download-app__container {
  @media (max-width: @mobile-width-only) {
    background-image: url("../../img/background_phone.png"), url("../../img/background_city.jpg");
    background-position: bottom, center;
    background-repeat: no-repeat;
    background-size: auto, cover;
  }
}

.download-app__slogan {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: @white;
  margin: 0;
  padding: 95px 20px 310px;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 48px;
    padding: 212px 20px 30px;
    max-width: 240px;
    margin: 0 20px;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
    padding: 224px 5px 50px 130px;
    max-width: 300px;
  }
}

.download-app__wrapper {
  padding: 28px 20px 38px;

  @media (min-width: @desktop-width) {
    padding-left: 130px;
  }
}

.download-app__button {
  .link-style();
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: @white;
  padding: 21px 0;
  border: 3px solid @white;
  border-radius: 39px;
  display: inline-block;
  width: 274px;

  &:hover,
  &:focus {
    color: @pink;
    background-color: @white;
  }

  &:active {
    color: rgba(@pink, 0.3);
  }
}

.download-app__list {
  .list-item-style();
  padding: 32px 0 28px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.download-app__description {
  line-height: 24px;
  font-weight: 300;
  color: @white;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    max-width: 300px;
  }
}
