.gallery__list {
  .list-item-style();

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 20px;
    margin-bottom: 10px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 5px;
  }
}

.gallery__item {
  background-color: @light_grey;

  @media (min-width: @tablet-width) {
    position: relative;
    margin-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 54px;
  }

  img {
    width: 280px;
    height: 180px;
    display: block;
    background-color: @grey;
    object-fit: contain;

    @media (min-width: @tablet-width) {
      width: 300px;
      height: 300px;
    }

    @media (min-width: @desktop-width) {
      width: 300px;
      height: 400px;
    }
  }
}
