.page-footer {
  padding: 40px 74px;
}

.page-footer__logo {
  &:active {
    opacity: 0.3;
  }
}

.page-footer__logo-glasses {
  width: 59px;
  height: 40px;
  color: @pink;
}

.page-footer__logo-pink {
  width: 74px;
  height: 23px;
  color: @dark_grey;

  &:hover,
  &:focus {
    color: @pink;
  }

  &:active {
    color: @dark_grey;
  }
}
