.page-footer {
  padding: 42px 0 30px;

  @media (min-width: @tablet-width) {
    padding: 35px 0 20px;
  }

  @media (min-width: @desktop-width) {
    padding: 68px 0 57px;
  }

  & .container {
    @media (min-width: @tablet-width) {
      display: flex;
      justify-content: space-between;
    }
  }
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__logo-glasses {
  width: 59px;
  height: 40px;
  color: @pink;
  padding-right: 10px;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-footer__logo-pink {
  width: 74px;
  height: 23px;
  color: @dark_grey;

  @media (min-width: @desktop-width) {
    display: none;
  }

  &:hover,
  &:focus {
    color: @pink;
  }

  &:active {
    color: @dark_grey;
  }
}

.page-footer__logo-glasses-desktop {
  width: 61px;
  height: 40px;
  display: none;
  padding-right: 10px;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.page-footer__logo-pink-desktop {
  width: 75px;
  height: 34px;
  display: none;

  &:hover path,
  &:focus path {
    fill: @pink;
  }

  &:active path {
    fill: @dark_grey;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}
