.photo-editor {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    padding: 0 130px 0;
    margin-bottom: 27px;
  }

  img {
    width: 280px;
    height: 374px;
    object-fit: contain;
    display: block;
    padding: 0 20px;
    margin: 0 auto;

    @media (min-width: @tablet-width) {
      padding: 0 0 0 18px;
      width: 300px;
      height: 400px;
    }

    @media (min-width: @desktop-width) {
      padding: 22px 10px 25px 80px;
    }
  }
}

.photo-editor__caption {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  padding: 24px 0 41px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    padding: 37px 20px 70px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 20px 67px;
  }
}

.photo-editor__wrapper {
  background-color: @light_grey;
  display: flex;
  flex-direction: column;
  padding-top: 20px;

  @media (min-width: @tablet-width) {
    padding-top: 52px;
    margin: 0 auto;
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    padding: 35px 0 23px;
  }
}

.photo-editor__cover {
  padding: 40px 20px 10px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 45%;
    padding-top: 5px;
    padding-left: 38px;
  }

  @media (min-width: @desktop-width) {
    padding: 10px;
    margin: 0 auto;
  }
}

.photo-editor__list {
  .list-item-style();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 30px 24px 18px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    padding-left: 20px;
  }
}

.photo-editor__item {
  @media (min-width: @tablet-width) {
    display: flex;
    padding: 10px 0 25px;
    margin-bottom: 13px;
    border-bottom: 1px solid rgba(@dark_grey, 0.1);
  }

  @media (min-width: @desktop-width) {
    padding: 9px 0 10px;
    margin-right: auto;
  }

  svg {
    color: rgba(@dark_grey, 0.3);

    &:hover,
    &:focus {
      color: rgba(@dark_grey, 0.5);
    }

    &:active {
      color: @pink;
    }
  }
}

.photo-editor__crop {
  width: 44px;
  height: 44px;

  @media (min-width: @tablet-width) {
    width: 22px;
    height: 22px;
  }

  @media (min-width: @desktop-width) {
    width: 44px;
    height: 44px;
    margin-right: 15px;
  }
}

.photo-editor__fill {
  width: 48px;
  height: 43px;

  @media (min-width: @tablet-width) {
    width: 24px;
    height: 22px;
  }

  @media (min-width: @desktop-width) {
    width: 48px;
    height: 43px;
    margin-right: 14px;
  }
}

.photo-editor__contrast {
  width: 32px;
  height: 32px;

  @media (min-width: @tablet-width) {
    width: 16px;
    height: 16px;
  }

  @media (min-width: @desktop-width) {
    width: 32px;
    height: 32px;
    margin-right: 28px;
  }
}



.photo-editor__container {
  padding: 38px 0 33px;
  border-top: 1px solid rgba(@dark_grey, 0.1);

  @media (min-width: @tablet-width) {
    border: none;
    padding: 54px 0 45px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 140px 12px 0;
  }
}

.photo-editor__upload-button {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: @pink;
  border: 3px solid @pink;
  border-radius: 30px;
  padding: 15px 3px;
  margin-bottom: 12px;
  width: 280px;

  &:hover,
  &:focus {
    color: @white;
    background-color: @pink;
  }

  &:active {
    color: rgba(@white, 0.3);
  }

  @media (min-width: @tablet-width) {
    width: 260px;
    margin-bottom: 25px;
  }

  @media (min-width: @desktop-width) {
    width: 183px;
    margin-right: 50px;
  }
}

.photo-editor__cancel-button {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: rgba(@dark_grey, 0.1);
  border: 3px solid rgba(@dark_grey, 0.1);
  border-radius: 30px;
  padding: 15px 3px;
  width: 280px;

  &:hover,
  &:focus {
    color: rgba(@dark_grey, 0.3);
    border-color: rgba(@dark_grey, 0.3);
  }

  &:active {
    color: rgba(@white, 0.3);
    background-color: rgba(@dark_grey, 0.3);
  }

  @media (min-width: @tablet-width) {
    width: 260px;
  }

  @media (min-width: @desktop-width) {
    width: 183px;
  }
}
