.photo-of-day {
  position: relative;
}

.photo-of-day__link {
  width: 320px;
  height: 137px;
  display: inline-block;
  object-fit: contain;
}

.photo-of-day__button {
  .link-style();
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: @white;
  text-transform: uppercase;
  padding: 13px;
  background-color: @pink;
  position: absolute;
  top: 0%;
  right: 41%;
}
