.prices {
  background-color: @light_grey;
  padding-top: 22px;
  overflow-x: hidden;

  @media (min-width: @tablet-width) {
    padding: 0 0 70px;
    margin-top: -24px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 99px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.prices__table {
  .list-item-style();
  display: flex;
  gap: 2px;
  padding-top: 60px;
  width: 100%;

  @media (max-width: @mobile-width-only) {
    position: relative;
    justify-content: stretch;
    width: 840px;
  }

  @media (min-width: @tablet-width) {
    padding-top: 58px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 61px;
  }
}

.prices__item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;

  @media (max-width: @mobile-width-only) {
    min-width: 279px;
  }

  &:first-child {
    @media (max-width: @mobile-width-only) {
      display: none;
    }
  }

  &:nth-child(3)::before {
    content: "";
    position: absolute;
    background-image: url("../../img/icons/icon_hit_ribbon.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 74px;
    height: 74px;

    @media (min-width: @tablet-width) {
      width: 61px;
      height: 61px;
    }

    @media (min-width: @desktop-width) {
      width: 74px;
      height: 74px;
    }
  }

  &:nth-child(3)::after {
    content: "Хит";
    position: absolute;
    top: 19px;
    left: 13px;
    color: @white;
    text-transform: uppercase;
    transform: rotate(-45deg);

    @media (min-width: @tablet-width) {
      top: 12px;
      left: 7px;
    }

    @media (min-width: @desktop-width) {
      top: 18px;
      left: 14px;
    }
  }
}

.prices__column {
  .list-item-style();
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 2px;

  @media (min-width: @tablet-width) {
    min-width: 153px;
  }

  @media (min-width: @desktop-width) {
    min-width: 233px;
  }
}

.prices__column-item {
  line-height: 30px;
  background-color: @white;
}

.prices__name {
  font-size: 18px;
  font-weight: 300;
  color: @white;
  text-transform: uppercase;
  padding: 12px 2px 26px;
  background-color: @dark_grey;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    padding-bottom: 7px;
  }

  @media (min-width: @desktop-width) {
    font-size: 24px;
    padding: 15px 2px 23px;
  }

  span {
    font-size: 16px;
    font-weight: 700;

    @media (min-width: @desktop-width) {
      font-size: 18px;
    }
  }
}

.prices__composition--mobile {
  text-transform: uppercase;
  text-align: left;
  padding: 14px 5px 14px 0;
  margin: 0;
  display: none;

  @media (max-width: @mobile-width-only) {
    display: block;
  }
}

.prices__composition {
  text-align: left;

  @media (min-width: @tablet-width) {
    padding: 7px 17px;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    padding: 14px 5px 14px 22px;
  }

  &:first-child {
    padding: 39px 0 40px;
    background-color: transparent;

    @media (min-width: @desktop-width) {
      padding: 49px 0;
    }
  }
}

.prices__set {
  padding: 9px 5px;
  flex-grow: 1;

  @media (max-width: @mobile-width-only) {
    padding: 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @tablet-width) {
    position: relative;
  }

  svg {
    position: absolute;
    left: 230px;

    @media (min-width: @tablet-width) {
      top: 9px;
      left: 62px;
    }

    @media (min-width: @desktop-width) {
      top: 16px;
      left: 102px;
    }
  }
}

.prices__toggles {
  padding: 43px 0 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
