.range {
  padding: 34px 20px 34px;
}

.range__controls {
  position: relative;
}

.range__scale {
  width: 240px;
  height: 2px;
  background-color: @dark_grey;
}

.range__toggle {
  width: 10px;
  height: 10px;
  background-color: @white;
  border: 2px solid @pink;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: 33px;

  &:active {
    background-color: @pink;
  }
}
