.reviews {
  margin-top: -180px;
  position: relative;
  z-index: 2;
}

.reviews__slider {
  background-color: @white;
  width: 100%;
}

.reviews__list {
  .list-item-style();
}

.reviews__blockquote {
  margin: 50px 20px 40px;
}

.reviews__user-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: @black;
  font-style: normal;
}

.reviews__text {
  line-height: 30px;
}
