.reviews {
  position: relative;
}

.reviews__slider {
  background-color: @white;
  position: absolute;
  top: -180px;
  width: 100%;
}

.reviews__list {
  .list-item-style();
}

.reviews__user-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: @black;
  font-style: normal;
}

.reviews__text {
  line-height: 30px;
}
