.user-emotions {
  border: none;
  padding: 35px 22px 20px;
  margin: 0;

  @media (min-width: @tablet-width) {
    padding-top: 30px;
    order: 5;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    padding: 65px 130px 61px;
  }
}

.user-emotions__wrapper {
  @media (min-width: @tablet-width) {
    border: 2px solid @grey;
  }
}

.user-emotions__label {
  line-height: 18px;
  color: @pink;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    max-width: calc(100% - 424px);
    background-color: @white;
    padding: 14px 38px;
    transform: translateY(-50%);
    display: block;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    max-width: calc(100% - 750px);
  }
}

.user-emotions__textarea {
  font-size: 18px;
  line-height: 30px;
  color: @dark_grey;
  padding: 12px 20px 5px;
  border: 2px solid @grey;
  margin-top: 14px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: calc(100% - 110px);
    margin-top: 0;
    margin-bottom: 40px;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 8px 22px 5px;
    height: 124px;
  }
}
