.user-emotions {
  border: none;
  padding: 42px 22px 52px;
}

.user-emotions__label {
  line-height: 18px;
  color: @pink;
  text-transform: uppercase;
  padding-top: 60px;
}

.user-emotions__textarea {
  font-size: 18px;
  line-height: 30px;
  color: @dark_grey;
  padding: 22px;
  border: 2px solid @grey;
}
