.user-achievements {
  border: none;
  padding: 39px 22px 0;
  margin: 0;
  background-color: @light_grey;

  @media (min-width: @tablet-width) {
    padding-top: 0;
    margin-top: -23px;
    background-color: @white;
    order: 4;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    padding-left: 130px;
    padding-right: 130px;
    margin-top: -5px;
  }
}

.user-achievements__legend {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @pink;
  text-transform: uppercase;
  max-width: 218px;
  padding-bottom: 22px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    max-width: calc(100% - 240px);
    background-color: @white;
    padding: 14px 31px;
    margin: 0 auto;
    transform: translateY(24px);
  }

  @media (min-width: @desktop-width) {
    max-width: calc(100% - 560px);
  }
}

.user-achievements__list {
  .list-item-style();
  padding-top: 15px;

  @media (min-width: @tablet-width) {
    padding: 51px 58px 5px;
    border: 2px solid @grey;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 12px;
  }
}

.user-achievements__item {
  padding-bottom: 43px;
  position: relative;

  @media (min-width: @desktop-width) {
    text-align: left;
    width: 260px;

    &:nth-child(2) {
      order: 4;
    }

    &:nth-child(3) {
      order: 2;
    }

    &:nth-child(4) {
      order: 5;
    }

    &:nth-child(5) {
      order: 3;
    }

    &:nth-child(6) {
      order: 6;
    }
  }
}

.user-achievements__input:checked {
  & + .user-achievements__label {
    &::before {
      content: "";
      display: block;
      width: 39px;
      height: 39px;
      background-image: url("../../img/icon_tick.svg"), url("../../img/icon_checkbox.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

.user-achievements__label {
  font-size: 18px;
  line-height: 30px;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: block;
    width: 39px;
    height: 39px;
    background-image: url("../../img/icon_checkbox.svg");
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 18px;
  }

  &:hover::before,
  &:focus::before {
    background-image: url("../../img/icon_checkbox--hover.svg");
  }

  &:active::before {
    background-image: url("../../img/icon_checkbox--active.svg");
  }
}
