.user-app {
  border: none;
  padding: 39px 22px 7px;
  margin: 0;
  background-color: @light_grey;

  @media (min-width: @tablet-width) {
    order: 2;
    background-color: @white;
    padding-top: 0;
    margin-top: -34px;
  }

  @media (min-width: @desktop-width) {
    width: 37%;
    padding-right: 130px;
    padding-top: 32px;
    margin-top: -50px;
    margin-left: 20px;
  }
}

.user-app__legend {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @pink;
  text-transform: uppercase;
  max-width: 218px;
  padding-bottom: 22px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    max-width: calc(100% - 295px);
    background-color: @white;
    padding: 14px 25px;
    margin: 0 auto;
    transform: translateY(25px);
  }

  @media (min-width: @desktop-width) {
    max-width: calc(100% - 126px);
    transform: translateY(25px);
  }
}

.user-app__list {
  .list-item-style();
  padding-top: 11px;

  @media (min-width: @tablet-width) {
    padding: 52px 57px 17px;
    border: 2px solid @grey;
  }

  @media (min-width: @desktop-width) {
    padding: 52px 5px 17px 82px;
  }
}

.user-app__item {
  padding-bottom: 34px;
  position: relative;
}

.user-app__input:checked {
  & + .user-app__label {
    &::before {
      content: "";
      display: block;
      width: 41px;
      height: 41px;
      background-image: url("../../img/icon_radio-btn_checked.svg"), url("../../img/icon_radio_btn.svg");
      background-position: center;
      background-repeat: no-repeat;
    }

    &:hover::before,
    &:focus::before {
      background-image: url("../../img/icon_radio-btn_checked.svg"), url("../../img/icon_radio_btn--hover.svg");
    }

    &:active::before {
      background-image: url("../../img/icon_radio-btn_checked.svg"), url("../../img/icon_radio_btn--active.svg");
    }
  }
}

.user-app__label {
  font-size: 18px;
  line-height: 30px;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: block;
    width: 41px;
    height: 41px;
    background-image: url("../../img/icon_radio_btn.svg");
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 26px;

    @media (min-width: @tablet-width) {
      margin-right: 19px;
    }
  }

  &:hover::before,
  &:focus::before {
    background-image: url("../../img/icon_radio_btn--hover.svg");
  }

  &:active::before {
    background-image: url("../../img/icon_radio_btn--active.svg");
  }
}
